@import url('https://fonts.googleapis.com/css2?family=Cutive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  /* scroll-behavior: smooth; */
}

a {
  text-decoration: none;
  color: rgb(134, 130, 130);
}

ul {
  list-style: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

@media screen and (max-width: 480px) {
  .nav {
    flex-direction: column;
    text-align: center;
  }

  .links {
    margin-top: 20px;
  }
}

.logo {
  height: 35px;
  cursor: pointer;
  /* width: 28px; */
}

.links {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.link {
  margin-left: 18px;
  text-transform: uppercase;
  font-family: "Barlow";
  letter-spacing: 2px;
  /* font-weight: 700; */
}

.link a:hover {
  color: rgb(151, 82, 82);
}

.section {
  height: 100vh;
  min-height: 600px;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.section.highlighted {
  color: red;
}

#home {
  background: url(../assets/background.jpg);
  background-size: cover;
}

#coffee-makers {
  background: url(../assets/background2.jpg);
  background-size: cover;

}

#espresso-machines {
  background: url(../assets/background3.jpg);
  background-size: cover;
}

#specialty {
  background: url(../assets/background4.jpg);
  background-size: cover;
}

.title {
  color: #fff;
  font-size: 60px;
  font-family: "Cutive&display";
}

.text {
  margin-top: 32px;
  max-width: 600px;
  color: rgb(233, 227, 227);
  font-size: 22px;
  font-family: sans-serif;
  line-height: 1.6;
}

.button {
  margin-top: 32px;
  padding: 16px 32px;
  font-weight: bold;
  border-radius: 6px;
  background-color: rgb(225, 235, 233);
  font-family: "Cutive&display";
  font-size: 22px;
  color: rgb(66, 61, 61);
  cursor: pointer;
  border: none;
  outline: none;
}

.button:hover {
  background-color: rgb(197, 204, 204);
}